* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.8 ease-in-out;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
}

#calcontainer {
    width: 20%;
    height:70vh;
    background-color: #262525;
    border: black 6px solid;
}
input {
    width: 100%;
    height: 10vh;
    background-color: #0000006e;
    color: white;
    border: none;
    text-align: right;
    border: 5px solid black;
}
input::placeholder {
    font-size: 30px;
    margin: 10px;
}
button {
    border: none;
    width: 60px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: white 1px 1px 5px 1px;
    cursor: pointer;
    font-size: 25px;
}
.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: #151414;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}